@charset "utf-8";

body{
	letter-spacing: 1px;
}

#lista{
	padding: 0.6%;
	width: 100%;
	background: #FAFAFA;
	border: 2px solid;
	color: #585858;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#btn{
	width: 100%;
	margin-top: 0.5%;
}

#tdTitulo{
	width: 100%;
	padding: 0.6%;
	text-align: center;
	color: #0B2161;
	letter-spacing: 1px;
	text-shadow:0px 1px 0px #FAFAFA;
	font: bold 20px Calibri, sans-serif;
}

tr{
	width: 100%;
}

.texto{
	width: 70%;
}

.textoT{
	width: 70%;
	text-align: right;
	padding-right: 1%;
}

.total{
	width: 30%;
	text-align: center;
}

.nroTotal{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #585858;
	border: 3px solid #585858;
	color: #fff;
	height: 30px;
	padding: 0.3%;
	font: bold 16px Calibri, sans-serif;
	text-align: center;
}
.nroTotal:hover{
	border: 3px solid #fff;
	box-shadow: 0px 0px 15px 0px  #000;
	-moz-box-shadow: 0px 0px 15px 0px  #000;
	-webkit-box-shadow: 0px 0px 15px 0px  #000;
}

label{
	padding: 0.3%;
	margin-left: 2%;
	color: #0B2161;
	letter-spacing: 1px;
	font: normal 17px Calibri, sans-serif;
	text-shadow:0px 1px 0px #FAFAFA;
}

l1{
	color: #0080FF;
	padding: 0.3%;
	margin-left: 2%;
	letter-spacing: 1px;
	font: normal 17px Calibri, sans-serif;
	text-shadow:0px 1px 0px #FAFAFA;
}
l3{
	text-decoration: underline;
}

#btn_atras{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #8A0808;
	color: #fff;
	display: block;
	cursor: pointer;
	margin-right: 1%;
	width: 120px;
	height: 40px;
	border: none;
	box-shadow:0px 0px 10px 1px  #ccc;
	font: bold 16px Calibri, sans-serif;
}
#btn_atras:hover {
	box-shadow: 0px 0px 15px 0px  #DF0101;
	-moz-box-shadow: 0px 0px 15px 0px  #DF0101;
	-webkit-box-shadow: 0px 0px 15px 0px  #DF0101;
}

#btn_excel{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #489785;
	color: #fff;
	display: block;
	cursor: pointer;
	margin-left: 1%;
	width: 120px;
	height: 40px;
	border: none;
	font: bold 16px Calibri, sans-serif;
}
#btn_excel:hover {
	box-shadow: 0px 0px 15px 0px  #04B486;
	-moz-box-shadow: 0px 0px 15px 0px  #04B486;
	-webkit-box-shadow: 0px 0px 15px 0px  #04B486;
}

a{
	text-decoration: none;
}